#info
{
    height: 10%;
    margin: 25px;
}
#associateCanvas
{
    height: 60%;
    width:100%;
    float:left;

    box-shadow: inset 0 0 10px #000000;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    margin: 15px 0;
    background: #ccc;
    /*border-style: solid;
    border-radius: 10px;
    box-shadow: inset 5px 5px 5px #ccc;
    margin: 25px;
    background: #EBEBE0;*/
}
#stagingCanvas
{
    height: 30%;
    width:100%;
    float:left;
    box-shadow: inset 0 0 10px #000000;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    margin: 15px 0;
    background: #ccc;

   border-style: solid;
    /*border-radius: 10px;
    box-shadow: inset 5px 5px 5px #ccc;
   margin: 25px;*/
}